body {
    background-image:url(images/ingredients-cabbage-carrot-pie-cabbage-carrots-eggs-flour-milk-butter-spices-white-background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
}

#title {
    color: red;
    text-align: center;
    font-size:500%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#recipes {
   color: aqua;
   font-size: 300%;
   text-align: center; 
   font-family: 'Courier New', Courier, monospace;
}


.credits {
    font-size: 100%;
    text-align: center;
    color:black;
}

.subtitle {
    color:brown;
    font-size: 300%;
    
}


.part {
    font-size: 200%;
    color:rgba(165, 42, 42, 0.719);
   
    
}

.content {
    color: black;
    font-size: x-large;
}

